<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node; when: isFile" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <input matInput #itemValue placeholder="Enter File Name" />
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    <button mat-button (click)="cancelNode(node)">Cancel</button>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: isFolder" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <input matInput #itemValue placeholder="Enter Folder Name" />
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    <button mat-button (click)="cancelNode(node)">Cancel</button>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.item}}
    <button mat-icon-button (click)="addNewFile(node)" [disabled]="disabledOptions">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="addNewFolder(node)" [disabled]="disabledOptions">
      <mat-icon>folder</mat-icon>
    </button>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasContent" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <a href="#" (click)="route(node)">{{node.item}}</a>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;" class="hide-item">
  </mat-tree-node>
</mat-tree>